resume/index.html
<!DOCTYPE html>
<html>
  <head>
    <title>The Resume of Dave Norton</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:400,900&amp;display=swap">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body class="has-text-light">
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column has-text-centered">
            <h1>The Resume of Dave Norton</h1>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <h2>Who, me?</h2>
            <p>I'm Dave, and I do a bit of everything. I believe in:</p>
            <ul>
              <li>Solving a problem once, and once only</li>
              <li>Automating repetetive tasks to focus on what matters</li>
              <li>Documenting and Sharing knowledge</li>
            </ul>
            <p>I also collect Transformers, and play Magic: The Gathering.</p>
            <h2>Things I know about:</h2>
            <ul>
              <li>HTML, CSS, JavaScript, REST APIs, and a bit of React</li>
              <li>A bit of Python, PHP and Java</li>
              <li>LDAP (standard LDAP and Active Directory)</li>
              <li>SQL - Postgres, MySQL, Oracle, and MSSQL</li>
              <li>Atlassian Jira, Confluence, Crowd</li>
            </ul>
            <p>If this sounds good to you, let's talk!</p>
          </div>
          <div class="column has-text-centered">
            <figure class="image is1by3"><img src="images/Dave.svg" class="dave">
              <figcaption>Actual representation of Dave</figcaption>
            </figure>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <h3>In a bit more detail...</h3>
            <p>By trade, I'm a web developer - I specialise in HTML, CSS and JavaScript. My knowledge of web technologies has come invaulable in working with web based applications, such as Jira and Confluence. I can work with back end technologies as well - I've done most of my work in PHP, but I have done a bit of work in Java, NodeJS and Python. I'm also comfortable with all major database types - Postgres, MySQL, SQL Server and Oracle.</p>
            <p>Supporting Java Applications like Jira and Confluence has given me a good understanding of the application lifecycle - from deployment, to staging and upgrades; through to disaster recovery and root cause analysis.</p>
            <p>In terms of application experience, my primary focus has been Confluence, Crowd and Jira - but I have experience with Bamboo, Bitbucket, and a little bit of FishEye/Crucible. Working with these applications at scale has been of particular interest to me - data center, cloud infrastructure, containers and orchestration in particular.</p>
            <p>I enjoy learning new things - and then seeing how we can apply new techniques and technologies to better solve existing problems and challenges. I also believe in sharing knowledge, as I'm not interested in solving the same problem over and over again.</p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <h3>Atlassian - Senior Support Engineer (Confluence, Jira)</h3>
            <p class="subtitle">2014 - Present</p>
            <ul>
              <li>Supported Jira, Confluence and Crowd Products</li>
              <li>Onboarded and trained new hires, and existing engineers</li>
              <li>Delivered group and individual training and coaching globally, both in-person and remotely</li>
              <li>Escalation point for Select, Priority and Premier levels of Support</li>
              <li>Developed tooling for automation of complex tasks, released to support customers</li>
              <li>Developed internal and external documentation</li>
              <li>Participated with customers directly via Community, Bug Tracker, Atlassian Summit, Atlassian User Groups</li>
            </ul>
            <h3>Workforce Express - IT Administrator</h3>
            <p class="subtitle">2013 - 2014</p>
            <ul>
              <li>Managed 40+ desktop users across 5 offices, in a traditional Windows / Active Directory setup</li>
              <li>Responsible for local and remote support</li>
              <li>AD Admin, responsible for the entire user management lifecycle</li>
            </ul>
            <h3>verv creations - Owner</h3>
            <p class="subtitle">2009 - Present</p>
            <ul>
              <li>Providing affordable hosting services for small business and non-profits</li>
              <li>Providing best in class functionality by making use of modern hosting capabilities (AWS, CloudFlare, CloudFront, etc)</li>
            </ul>
            <h3>Brawn Consulting - Webmaster</h3>
            <p class="subtitle">2009-2011</p>
            <ul>
              <li>Provided support for Samsung's MagicInfo Digital Signage Software</li>
              <li>Developed a multi-site content management system for the sale, delivery and automatic marking of certification courses.</li>
            </ul>
            <h3>Wade Hunt IT - Lead Technician</h3>
            <p class="subtitle">2003 - 2008</p>
            <ul>
              <li>Provided Support for many Central Queensland Businesses in an L1/L2/L3 capacity</li>
              <li>Always the final escalation point for customers, with a high retention rate</li>
              <li>Specialising in Active Directory and Exchange management, along with industry specific software (Medical, Legal, Architechtural)</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

resume/_templates/index.jade
doctype html
html
    head
        title= "The Resume of Dave Norton"
        include _head.jade

    body.has-text-light
        section.section
            .container
                .columns
                    .column.has-text-centered
                        h1= "The Resume of Dave Norton"

                .columns
                    .column
                        h2= "Who, me?"
                        p="I'm Dave, and I do a bit of everything. I believe in:"
                        ul
                            li="Solving a problem once, and once only"
                            li="Automating repetitive tasks to focus on what matters"
                            li="Documenting and Sharing knowledge"

                        p="I also collect Transformers, and play Magic: The Gathering."

                        h2= "Things I know about:"
                        ul
                            li="HTML, CSS, JavaScript, REST APIs, and a bit of React"
                            li="A bit of Python, PHP and Java"
                            li="LDAP (standard LDAP and Active Directory)"
                            li="SQL - Postgres, MySQL, Oracle, and MSSQL"
                            li="Atlassian Jira, Confluence, Crowd"
                        p="If this sounds good to you, let's talk!"

                    .column.has-text-centered
                        figure.image.is1by3
                            img.dave(src="images/Dave.svg")
                            figcaption="Actual representation of Dave"
                .columns
                    .column
                        h3="In a bit more detail..."
                        p="By trade, I'm a web developer - I specialise in HTML, CSS and JavaScript. My knowledge of web technologies has come invaulable in working with web based applications, such as Jira and Confluence. I can work with back end technologies as well - I've done most of my work in PHP, but I have done a bit of work in Java, NodeJS and Python. I'm also comfortable with all major database types - Postgres, MySQL, SQL Server and Oracle."
                        p="Supporting Java Applications like Jira and Confluence has given me a good understanding of the application lifecycle - from deployment, to staging and upgrades; through to disaster recovery and root cause analysis."
                        p="In terms of application experience, my primary focus has been Confluence, Crowd and Jira - but I have experience with Bamboo, Bitbucket, and a little bit of FishEye/Crucible. Working with these applications at scale has been of particular interest to me - data center, cloud infrastructure, containers and orchestration in particular."
                        p="I enjoy learning new things - and then seeing how we can apply new techniques and technologies to better solve existing problems and challenges. I also believe in sharing knowledge, as I'm not interested in solving the same problem over and over again."

                .columns
                    .column
                        h3="Atlassian - Senior Support Engineer (Confluence, Jira)"
                        p.subtitle="2014 - Present"
                        ul
                            li="Supported Jira, Confluence and Crowd Products"
                            li="Onboarded and trained new hires, and existing engineers"
                            li="Delivered group and individual training and coaching globally, both in-person and remotely"
                            li="Escalation point for Select, Priority and Premier levels of Support"
                            li="Developed tooling for automation of complex tasks, released to support customers"
                            li="Developed internal and external documentation"
                            li="Participated with customers directly via Community, Bug Tracker, Atlassian Summit, Atlassian User Groups"
                        
                        h3="Workforce Express - IT Administrator"
                        p.subtitle="2013 - 2014"
                        ul
                            li="Managed 40+ desktop users across 5 offices, in a traditional Windows / Active Directory setup"
                            li="Responsible for local and remote support"
                            li="AD Admin, responsible for the entire user management lifecycle"

                        h3="verv creations - Owner"
                        p.subtitle="2009 - Present"
                        ul
                            li="Providing affordable hosting services for small business and non-profits"
                            li="Providing best in class functionality by making use of modern hosting capabilities (AWS, CloudFlare, CloudFront, etc)"
                        
                        h3="Brawn Consulting - Webmaster"
                        p.subtitle="2009-2011"
                        ul
                            li="Provided support for Samsung's MagicInfo Digital Signage Software"
                            li="Developed a multi-site content management system for the sale, delivery and automatic marking of certification courses."

                        h3="Wade Hunt IT - Lead Technician"
                        p.subtitle="2003 - 2008"
                        ul
                            li="Provided Support for many Central Queensland Businesses in an L1/L2/L3 capacity"
                            li="Always the final escalation point for customers, with a high retention rate"
                            li="Specialising in Active Directory and Exchange management, along with industry specific software (Medical, Legal, Architechtural)"
