checkpoint/templates/allelements.jade
extends ./_review.jade

block hero
    .heroHeaderImage(style="background-image: url(https://cdn.checkpointgaming.net/wp-content/uploads/2019/06/27001126/HERO1_1440x600_acf_cropped_1440x600_acf_cropped.png)")

    //- section#hero
    //-     .container
    //-         .columns
    //-             .column.is-12
    //-                 img(src='https://cdn.checkpointgaming.net/wp-content/uploads/2019/06/27001126/HERO1_1440x600_acf_cropped_1440x600_acf_cropped.png')
block content
    section#content.section
        .container
            .columns
                main#review.column.is-12.hasHeroImage
                    h1.bigTitle= "Super Mario Maker 2 Review – Build it, beat it, love it"

                    <!-- Component for a Game Release -->
                    #reviewQuickGlance.level
                        .level-item.has-text-centered
                            div
                                p.heading= "Platform:"
                                p.title= "Switch"
                        .level-item.has-text-centered
                            div
                                p.heading= "Released:"
                                p.title= "June 28, 2019"
                        .level-item.has-text-centered
                            div
                                p.heading= "Publisher:"
                                p.title= "Nintendo"
                        .level-item.has-text-centered
                            div
                                p.heading= "Developer:"
                                p.title= "Nintendo"

                    p="Get your thinking helmets on, because Mario and co. are here for a second course of constructive adventure with Super Mario Maker 2! The original entry on the Wii U (and later 3DS) managed to be quite the highlight for the system, so to say that the sequel had it’s work cut out for it is an understatement. Thankfully, this follow-up to the fan-favourite has done everything it needed to and more in creating a worthy successor."
                    p="For those who missed out on the original (or didn’t own a Wii U, and who could blame you), Super Mario Maker 2 is a game that allows you to create your own 2D Mario stages in the style of earlier titles Super Mario Bros, Super Mario Bros 3, Super Mario World, and New Super Mario Bros Wii, alongside the brand new Super Mario 3D World style. These levels can then be shared online for others to try, or you can download the creations of others to try yourself. This is of course complimented by a large number of built-in stages, ensuring there’s plenty to do in the game."
                    p="Right from the get-go, you can see the level of detail and polish that’s been put into the presentation for the game. Each of the offered styles look the best they’ve ever been, in particular the new 3D World style which is a truly gorgeous translation of it’s predecessor’s visual spectacle."
                    p="The backgrounds are filled to the brim with detail, and every single level, be it set during a sandstorm in the night or a frozen tundra in daylight is accompanied with some amazing new tracks from Koji Kondo. Each of these tracks (which we learned about back in May) evoke just the right feel for their associated areas, and stand equally among their forebearers. No punches were pulled with the game’s look and sound, and it shows from the minute you launch the game."
                    p="Of course, in addition to looking great, the gameplay is top-notch. Each of the returning styles has been perfectly recreated from their origins, and hit a perfect balance of uniqueness and familiarity throughout each one. Every style offers it’s own options and abilities for Mario and co, but they’ll quickly become second-nature to you, especially if you’re familiar with what inspired them."
                    p="The 3D World style for example allows Mario to utilise his long jump and crouch-walking, which means levels can be tackled in different ways, such as having a low ceiling to contend with, or having a jump that might not be possible elsewhere."

                    img(src='https://checkpointgaming.net/wp-content/uploads/2019/06/28bbb4a8c7faf8f0c98f30b664074aa9-465x0-c-default.jpg').is-pulled-left

                    p="Each style also has to be approached in a different way because of this. Thwomps in the NES titles are not to be trifled with, while the ones in World style can be safely spun-jumped upon. The 3D World style lets you outright ride them to new areas, provided you don’t get crushed in the process!"
                    p="This variety and freedom extends to the course creation, where players have an unprecedented amount of options available to them. It’s remarkable just how much can be done here."
                    p="The creation UI has had somewhat of a make-over from the previous game, both to improve the smoothness of the building process and to better accommodate the Nintendo Switch and it’s capabilities. Levels can be worked on in both docked and un-docked mode, and the UI manages to work quite well regardless of which you’re playing in. Of course, the touch screen does help with placement, but having the layout on a larger screen is also helpful, so both have something to offer."
                    p="The creation options themselves must be seen to be believed. Almost everything from the original game has made a return here, with a number of them having new ways of being used in levels. They’re also joined by plenty of new elements that can be combined in various ways. Add to that the numerous game styles, course themes and the newly-introduced night mode, and you can create almost anything you can think of!"
                    p="A perfect example of this is a built-in level in which you’re presented with a trampoline, a P switch, and a POW block, as well as a series of rooms with keys that can’t be reached normally. It’s up to the player to test these items in the rooms to see what effect they have on the area and claim the keys, which works great for puzzle-solving and is sure to birth some new course ideas too."

                    img(src='https://checkpointgaming.net/wp-content/uploads/2019/06/b49e8cd6957d8d8450ed6d9f1b28ddcb-465x0-c-default.jpg').is-pulled-right

                    p="On that note, the story mode is a great starting point when it comes to course ideas. It’s full to the brim with charm, and it’s a perfect opportunity to learn more about the game’s many mechanics. The plot starts out fairly straight-forward, which is par for the course with Mario, but this framework ends up expanding quite a bit as you go along."
                    p="The levels you encounter on your quest to rebuild Peach’s castle all manage to introduce players to various in-game objects and level variations, with each one being a chance to learn something new about the game as a whole. For example, a level based around grappling hooks helps you to get used to how they’re used, and also shows the different manners in which they can be utilised."
                    p="They start of fairly simple, but as you continue you begin to encounter a wider variety of allies who will then introduce more challenging experiences to get used to, which in turn can affect the overworld in unexpected ways."
                    p="A great example is a certain character who can help fill the kingdom with flowers once you find and assist him, or another who goes on to create some cool-looking statues to show of nearby. It’s definitely worth exploring the mode just to be surprised by what you find (and trust me, there’s definitely more than a few of those as you go!)"

                    <!-- Gallery of images -->


                    p="The online hub for the game compliments the whole experience rather well, and is designed to encourage the sharing of feedback and getting involved. This is accomplished by rewarding interactions with other creators, which should hopefully foster a good community. Who can say no to a nice new shirt for your mii just for being friendly?"
                    p="The hub functions without a hitch too, as I was able to play and upload courses with nary a hiccup in the connection. Trying out a new course takes mere seconds to load up, and sharing your own creations is designed in a way to be quick but fair to others."

                    .has-text-centered
                        img(src='https://checkpointgaming.net/wp-content/uploads/2019/06/d60a995baa4638bac5c28e3a562587a4-1200x0-c-default.jpg')

                    p="The overall layout is simple enough but manages to feature more or less everything you’d want to have on hand, such as a list of favourite levels and the ability to see what’s gotten popular."

                    .card.quotation.is-pulled-left
                        .card-content
                            p.title="It’s remarkable just how much can be done here!"

                    p="When it comes to the multiplayer, I unfortunately wasn’t able to try much for myself due to the pre-release server not being super active. Given the smooth experience for the rest of the online features however, I doubt there’ll be many issues there. See for yourself here!"
                    p="All in all, the game has managed to provide a huge repository of tools for players to unleash their creativity, and is a rock-solid continuation of the series. The graphics and music are bursting with charm, the creation menu has plenty of options to make use of, and the online hub runs like a charm. What’s not to love?"

                    h3="Is there mushroom for improvement?"
                    #summary(style="background-image: url(https://checkpointgaming.net/wp-content/uploads/2019/07/cbc665b7d03f1860107f7ca0d667f99a-800x0-c-default.png)")
                        .level
                            #for.column.is-half
                                ul
                                    li="Beautiful Graphics and Music"
                                    li="Ridiculous amounts of customisation"
                                    li="Perfect for quick bouts or extended playthroughs"
                            #against.column.is-half
                                ul
                                    li="Amiibo costumes don't return"
                                    li="Creation UI takes getting used to"
                        .level
                            #overall.column.is-full
                                h4="Perfect for those who..."
                                p="love to create, or just love Mario!"

                                h4="Leave to other creators if..."
                                p="you'd rather a more complex game with 3D"

                                h4="Mario gives you a builder's playground!"
                                p="Super Mario Maker 2 lets you create almost anything you can imagine, and looks great doing it too. Every level is a chance to challenge yourself and learn something new!"

                    #finalVerdict
                        .content
                            p <strong>Super Mario Maker 2</strong> is really something special, in that it’s a solid game that gives you plenty to work through while also giving everyone the opportunity to create their own content and share it with the community. It’s not just fun, it’s educational, and I wouldn’t be surprised in the slightest if it leads to further game development in the future. For those wanting to create games themselves, this is really a dream come true!
                            p <em>The colour of this block will change, depending on the type of page that it's used on - to tie it back to the type of content. This will be a special summary block we'll add to Wordpress.</em>
                    hr
                    <!-- About the Author Block -->
                    article#author.media
                        figure.media-left
                            p
                                img(src='https://checkpointgaming.net/wp-content/uploads/2019/05/57160135_2321206764577975_7765634242234548224_o-190x140-c-default.jpg').is-rounded
                        .media-content
                            .content
                                p.subtitle="About the Author"
                                h3="Ashley Winters"
                                p="I'm a transgender woman who's been gaming since they were little. I grew up on Mario, Sonic, and Mega Man X, and I still love to play all sorts of games to this day. I also like to collect figurines and even make some of my own!"
                    hr
                    <!-- Other Elements -->
                    h2="Other Elements"
                    p="This area is for other elements that we need to showcase (that aren't part of the actual review)"
                    
                    h3="Twitter Embed"
                    |<blockquote class="twitter-tweet">
                    |    <p lang="en" dir="ltr">Introducing Playdate, a new handheld gaming system from Panic. 
                    |    <br><br>It fits in your pocket. It&#39;s got a black and white screen. It includes a season of brand-new games from amazing creators. Oh and… there&#39;s a crank???? 
                    |    <a href="https://t.co/WiIPUkpjSq">https://t.co/WiIPUkpjSq</a>
                    |    
                    |    <br><br>Yes. A thread… <a href="https://t.co/47BwSOtiiP">pic.twitter.com/47BwSOtiiP</a></p>
                    |    &mdash; Playdate (@playdate) <a href="https://twitter.com/playdate/status/1131307504116174848?ref_src=twsrc%5Etfw">May 22, 2019</a>
                    //- |    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
                    |</blockquote>

checkpoint/allelements.html
<!DOCTYPE html>
<html>
  <head>
    <title>Checkpoint Gaming Demonstration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Poppins:500,600,700|Fira+Sans&amp;display=swap">
    <link rel="stylesheet" href="css/checkpoint.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <script defer src="//kit.fontawesome.com/a826d5e98e.js"></script>
    <script defer src="js/checkpoint-min.js"></script>
  </head>
  <body>
    <header id="header" class="header">
      <nav role="navigation" aria-label="main navigation" class="navbar">
        <div class="container">
          <div class="navbar-brand"><a href="index.html" class="navbar-item"><img src="images/logo.svg" width="177" height="38" alt="Checkpoint Logo"></a><a role="button" aria-label="menu" aria-expanded="false" data-target="checkpointMenu" class="navbar-burger burger"><span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a></div>
          <div id="checkpointMenu" class="navbar-menu">
            <div class="navbar-start"><a class="navbar-item reviews">Reviews</a><a class="navbar-item news">News</a><a class="navbar-item e3">E3</a><a class="navbar-item features">Features</a><a class="navbar-item podcast">Podcast</a><a class="navbar-item checkpoint">About</a><a class="navbar-item checkpoint">JOY 94.9</a></div>
            <div class="navbar-end">
              <div class="level is-mobile"><span class="navbar-item level-item has-text-centered"><a class="icon icon-search"><i class="fas fa-search"></i></a></span><span class="navbar-item level-item has-text-centered"><a class="icon icon-facebook"><i class="fab fa-facebook-square"></i></a></span><span class="navbar-item level-item has-text-centered"><a class="icon icon-twitter"><i class="fab fa-twitter-square"></i></a></span><span class="navbar-item level-item has-text-centered"><a class="icon icon-rss"><i class="fas fa-rss-square"></i></a></span></div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div style="background-image: url(https://cdn.checkpointgaming.net/wp-content/uploads/2019/06/27001126/HERO1_1440x600_acf_cropped_1440x600_acf_cropped.png)" class="heroHeaderImage"></div>
    <section id="content" class="section">
      <div class="container">
        <div class="columns">
          <main id="review" class="column is-12 hasHeroImage">
            <h1 class="bigTitle">Super Mario Maker 2 Review – Build it, beat it, love it</h1><!-- Component for a Game Release -->
            <div id="reviewQuickGlance" class="level">
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Platform:</p>
                  <p class="title">Switch</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Released:</p>
                  <p class="title">June 28, 2019</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Publisher:</p>
                  <p class="title">Nintendo</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Developer:</p>
                  <p class="title">Nintendo</p>
                </div>
              </div>
            </div>
            <p>Get your thinking helmets on, because Mario and co. are here for a second course of constructive adventure with Super Mario Maker 2! The original entry on the Wii U (and later 3DS) managed to be quite the highlight for the system, so to say that the sequel had it’s work cut out for it is an understatement. Thankfully, this follow-up to the fan-favourite has done everything it needed to and more in creating a worthy successor.</p>
            <p>For those who missed out on the original (or didn’t own a Wii U, and who could blame you), Super Mario Maker 2 is a game that allows you to create your own 2D Mario stages in the style of earlier titles Super Mario Bros, Super Mario Bros 3, Super Mario World, and New Super Mario Bros Wii, alongside the brand new Super Mario 3D World style. These levels can then be shared online for others to try, or you can download the creations of others to try yourself. This is of course complimented by a large number of built-in stages, ensuring there’s plenty to do in the game.</p>
            <p>Right from the get-go, you can see the level of detail and polish that’s been put into the presentation for the game. Each of the offered styles look the best they’ve ever been, in particular the new 3D World style which is a truly gorgeous translation of it’s predecessor’s visual spectacle.</p>
            <p>The backgrounds are filled to the brim with detail, and every single level, be it set during a sandstorm in the night or a frozen tundra in daylight is accompanied with some amazing new tracks from Koji Kondo. Each of these tracks (which we learned about back in May) evoke just the right feel for their associated areas, and stand equally among their forebearers. No punches were pulled with the game’s look and sound, and it shows from the minute you launch the game.</p>
            <p>Of course, in addition to looking great, the gameplay is top-notch. Each of the returning styles has been perfectly recreated from their origins, and hit a perfect balance of uniqueness and familiarity throughout each one. Every style offers it’s own options and abilities for Mario and co, but they’ll quickly become second-nature to you, especially if you’re familiar with what inspired them.</p>
            <p>The 3D World style for example allows Mario to utilise his long jump and crouch-walking, which means levels can be tackled in different ways, such as having a low ceiling to contend with, or having a jump that might not be possible elsewhere.</p><img src="https://checkpointgaming.net/wp-content/uploads/2019/06/28bbb4a8c7faf8f0c98f30b664074aa9-465x0-c-default.jpg" class="is-pulled-left">
            <p>Each style also has to be approached in a different way because of this. Thwomps in the NES titles are not to be trifled with, while the ones in World style can be safely spun-jumped upon. The 3D World style lets you outright ride them to new areas, provided you don’t get crushed in the process!</p>
            <p>This variety and freedom extends to the course creation, where players have an unprecedented amount of options available to them. It’s remarkable just how much can be done here.</p>
            <p>The creation UI has had somewhat of a make-over from the previous game, both to improve the smoothness of the building process and to better accommodate the Nintendo Switch and it’s capabilities. Levels can be worked on in both docked and un-docked mode, and the UI manages to work quite well regardless of which you’re playing in. Of course, the touch screen does help with placement, but having the layout on a larger screen is also helpful, so both have something to offer.</p>
            <p>The creation options themselves must be seen to be believed. Almost everything from the original game has made a return here, with a number of them having new ways of being used in levels. They’re also joined by plenty of new elements that can be combined in various ways. Add to that the numerous game styles, course themes and the newly-introduced night mode, and you can create almost anything you can think of!</p>
            <p>A perfect example of this is a built-in level in which you’re presented with a trampoline, a P switch, and a POW block, as well as a series of rooms with keys that can’t be reached normally. It’s up to the player to test these items in the rooms to see what effect they have on the area and claim the keys, which works great for puzzle-solving and is sure to birth some new course ideas too.</p><img src="https://checkpointgaming.net/wp-content/uploads/2019/06/b49e8cd6957d8d8450ed6d9f1b28ddcb-465x0-c-default.jpg" class="is-pulled-right">
            <p>On that note, the story mode is a great starting point when it comes to course ideas. It’s full to the brim with charm, and it’s a perfect opportunity to learn more about the game’s many mechanics. The plot starts out fairly straight-forward, which is par for the course with Mario, but this framework ends up expanding quite a bit as you go along.</p>
            <p>The levels you encounter on your quest to rebuild Peach’s castle all manage to introduce players to various in-game objects and level variations, with each one being a chance to learn something new about the game as a whole. For example, a level based around grappling hooks helps you to get used to how they’re used, and also shows the different manners in which they can be utilised.</p>
            <p>They start of fairly simple, but as you continue you begin to encounter a wider variety of allies who will then introduce more challenging experiences to get used to, which in turn can affect the overworld in unexpected ways.</p>
            <p>A great example is a certain character who can help fill the kingdom with flowers once you find and assist him, or another who goes on to create some cool-looking statues to show of nearby. It’s definitely worth exploring the mode just to be surprised by what you find (and trust me, there’s definitely more than a few of those as you go!)</p><!-- Gallery of images -->
            <p>The online hub for the game compliments the whole experience rather well, and is designed to encourage the sharing of feedback and getting involved. This is accomplished by rewarding interactions with other creators, which should hopefully foster a good community. Who can say no to a nice new shirt for your mii just for being friendly?</p>
            <p>The hub functions without a hitch too, as I was able to play and upload courses with nary a hiccup in the connection. Trying out a new course takes mere seconds to load up, and sharing your own creations is designed in a way to be quick but fair to others.</p>
            <div class="has-text-centered"><img src="https://checkpointgaming.net/wp-content/uploads/2019/06/d60a995baa4638bac5c28e3a562587a4-1200x0-c-default.jpg"></div>
            <p>The overall layout is simple enough but manages to feature more or less everything you’d want to have on hand, such as a list of favourite levels and the ability to see what’s gotten popular.</p>
            <div class="card quotation is-pulled-left">
              <div class="card-content">
                <p class="title">It’s remarkable just how much can be done here!</p>
              </div>
            </div>
            <p>When it comes to the multiplayer, I unfortunately wasn’t able to try much for myself due to the pre-release server not being super active. Given the smooth experience for the rest of the online features however, I doubt there’ll be many issues there. See for yourself here!</p>
            <p>All in all, the game has managed to provide a huge repository of tools for players to unleash their creativity, and is a rock-solid continuation of the series. The graphics and music are bursting with charm, the creation menu has plenty of options to make use of, and the online hub runs like a charm. What’s not to love?</p>
            <h3>Is there mushroom for improvement?</h3>
            <div id="summary" style="background-image: url(https://checkpointgaming.net/wp-content/uploads/2019/07/cbc665b7d03f1860107f7ca0d667f99a-800x0-c-default.png)">
              <div class="level">
                <div id="for" class="column is-half">
                  <ul>
                    <li>Beautiful Graphics and Music</li>
                    <li>Ridiculous amounts of customisation</li>
                    <li>Perfect for quick bouts or extended playthroughs</li>
                  </ul>
                </div>
                <div id="against" class="column is-half">
                  <ul>
                    <li>Amiibo costumes don't return</li>
                    <li>Creation UI takes getting used to</li>
                  </ul>
                </div>
              </div>
              <div class="level">
                <div id="overall" class="column is-full">
                  <h4>Perfect for those who...</h4>
                  <p>love to create, or just love Mario!</p>
                  <h4>Leave to other creators if...</h4>
                  <p>you'd rather a more complex game with 3D</p>
                  <h4>Mario gives you a builder's playground!</h4>
                  <p>Super Mario Maker 2 lets you create almost anything you can imagine, and looks great doing it too. Every level is a chance to challenge yourself and learn something new!</p>
                </div>
              </div>
            </div>
            <div id="finalVerdict">
              <div class="content">
                <p><strong>Super Mario Maker 2</strong> is really something special, in that it’s a solid game that gives you plenty to work through while also giving everyone the opportunity to create their own content and share it with the community. It’s not just fun, it’s educational, and I wouldn’t be surprised in the slightest if it leads to further game development in the future. For those wanting to create games themselves, this is really a dream come true!</p>
                <p><em>The colour of this block will change, depending on the type of page that it's used on - to tie it back to the type of content. This will be a special summary block we'll add to Wordpress.</em></p>
              </div>
            </div>
            <hr><!-- About the Author Block -->
            <article id="author" class="media">
              <figure class="media-left">
                <p><img src="https://checkpointgaming.net/wp-content/uploads/2019/05/57160135_2321206764577975_7765634242234548224_o-190x140-c-default.jpg" class="is-rounded"></p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p class="subtitle">About the Author</p>
                  <h3>Ashley Winters</h3>
                  <p>I'm a transgender woman who's been gaming since they were little. I grew up on Mario, Sonic, and Mega Man X, and I still love to play all sorts of games to this day. I also like to collect figurines and even make some of my own!</p>
                </div>
              </div>
            </article>
            <hr><!-- Other Elements -->
            <h2>Other Elements</h2>
            <p>This area is for other elements that we need to showcase (that aren't part of the actual review)</p>
            <h3>Twitter Embed</h3><blockquote class="twitter-tweet">
               <p lang="en" dir="ltr">Introducing Playdate, a new handheld gaming system from Panic. 
               <br><br>It fits in your pocket. It&#39;s got a black and white screen. It includes a season of brand-new games from amazing creators. Oh and… there&#39;s a crank???? 
               <a href="https://t.co/WiIPUkpjSq">https://t.co/WiIPUkpjSq</a>
               
               <br><br>Yes. A thread… <a href="https://t.co/47BwSOtiiP">pic.twitter.com/47BwSOtiiP</a></p>
               &mdash; Playdate (@playdate) <a href="https://twitter.com/playdate/status/1131307504116174848?ref_src=twsrc%5Etfw">May 22, 2019</a></blockquote>
          </main>
        </div>
      </div>
    </section>
    <footer id="footer">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <div class="level">
            <div class="level-item"><a>Reviews</a></div>
            <div class="level-item"><a>News</a></div>
            <div class="level-item"><a>Features</a></div>
            <div class="level-item"><a>Podcast</a></div>
            <div class="level-item"><a>About</a></div>
            <div class="level-item"><a>JOY 94.9</a></div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <p>© 2016-2019 Checkpoint Gaming. Checkpoint is supported by JOY 94.9, Australia's only LGBTI community radio station.</p>
          <p>Passionately crafted and hosted by <a href="https://www.vervcreations.com.au/" class="verv">verv creations</a></p>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
    <script>
      var mySwiper = new Swiper ('.swiper-container', {
          // Optional parameters
          loop: true,
          // Autoplay:
          autoplay: {
              delay: 4000,
              disableOnInteraction: false,
          },
          // Navigation arrows
          navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
          },
      });
    </script>
  </body>
</html>
